<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995062735917-0bvs2qro9fucumu1sndcrbn1huf7362i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995062735917-0bvs2qro9fucumu1sndcrbn1huf7362i</string>
	<key>API_KEY</key>
	<string>AIzaSyBH9R_nHEMBhTWtTobwez_dRsTiePO4vFA</string>
	<key>GCM_SENDER_ID</key>
	<string>995062735917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lescapseurs.capsApp</string>
	<key>PROJECT_ID</key>
	<string>caps-5e7c7</string>
	<key>STORAGE_BUCKET</key>
	<string>caps-5e7c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995062735917:ios:4fdabb110046054fe744a4</string>
</dict>
</plist>